Repository agntcy/oasf-sdk, pull requests merged in 2025-09, with the labels that each got.

#40 feat: improve grpc APIs to rely on OASF types
  core/go.mod
  core/go.sum
  e2e/go.mod
  e2e/go.sum
  proto/buf.lock
  proto/buf.yaml
  proto/core/v1/conversion_service.proto
  proto/core/v1/models.proto
  proto/decoding/v1/decoding_service.proto
  proto/translation/v1/translation_service.proto
  proto/validation/v1/validation_service.proto
  translation/go.mod
  translation/go.sum
  validation/go.mod
  validation/go.sum
Labels: buf skip breaking

#55 Feat/add post release
  .github/workflows/release.yaml
Labels: github_actions

#60 docs: update USAGE.md
  USAGE.md
Labels: documentation

#61 feat: add helm chart
  .github/workflows/buf-ci.yaml
  .github/workflows/e2e.yaml
  Taskfile.yml
  e2e/Taskfile.yaml
  e2e/kind-config.yaml
  helm/oasf-sdk/.helmignore
  helm/oasf-sdk/Chart.yaml
  helm/oasf-sdk/templates/configmap.yaml
  helm/oasf-sdk/templates/deployment.yaml
  helm/oasf-sdk/templates/helpers.tpl
  helm/oasf-sdk/templates/ingress.yaml
  helm/oasf-sdk/templates/rbac.yaml
  helm/oasf-sdk/templates/secrets.yaml
  helm/oasf-sdk/templates/service.yaml
  helm/oasf-sdk/values.yaml
  server/controller/validation/v1/validation.go
Labels: enhancement
